{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <div class="col-lg-9">
        <h2>Reserva de entrada</h2>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>Fecha y hora</th>
                <th>Película</th>
                <th>Seleccionar asiento</th>
                <th>Acción</th>
            </tr>    
                <tr>
                    <td>Día {{ sesion.horarios|date("d/m") }} a las {{ sesion.horarios|date("H:i") }}</td>
                    <td>{{ pelicula.titulo }}</td>
                </tr>
        </table>
        <a href="{{ path("inicio") }}" class="btn btn-secondary">Cancelar</a>
    </div>
    <div class="clearfix"></div>
{% endblock %}
