{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista para editar los asientos-->
    <div class="col-lg-6">
        <h2>Editar asiento</h2>
        <hr>
        <!--Se muestra el formulario generado en el controlador-->
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
    <!--Botón para volver a la vista de todos los asientos-->
    <a href="{{ path("indice_asiento") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}