{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <div class="col-lg-6">
        <h2>Nueva sesión</h2>
        <hr>
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
    <a href="{{ path("indice_sesion") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}