{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista para añadir directores-->
    <div class="col-lg-6">
        <h2>Nuevo director</h2>
        <hr>
        <!--Muestra el formulario generado en el controlador-->
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </div>
    <div class="clearfix"></div>
    <!--Botón para volver a la vista de muestra de todos los directores-->
    <a href="{{ path("indice_director") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}