{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista para editar directores-->
    <section class="col-lg-6">
        <h2>Editar director</h2>
        <hr>
        <!--Se muestra el formulario generado en el controlador-->
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </section>
    <div class="clearfix"></div>
    <!--Botón para volver a la vista de todos los directores-->
    <a href="{{ path("indice_director") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}