{% extends '@Karfilms/layout.html.twig' %}

{% block estadogenero %} active {% endblock%}

{% block body %}
    <!--Vista de los géneros para los usuarios-->
    <section class="col-lg-6">
        <h2>Géneros</h2>
        <hr>
        <div class="count">
            <span class="label label-primary">
                Géneros en total: {{ pagination.getTotalItemCount }}
            </span>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Muestra los géneros uno a uno-->
            {% for genero in pagination %}
                <tr>
                    <td>{{ genero.nombre }}</td>
                    <td>
                        <!--Botón que activa la función para mostrar las películas
                        organizadas según el género seleccionado, enviando por la url
                        el nombre del actor hacia el controlador-->
                        <a href="{{ path("categoria_genero", {"nombre":genero.nombre}) }}" class="btn btn-primary">Ver películas</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!--Botones de paginación-->
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </section>
    <div class="clearfix"></div>
{% endblock %}