{% extends '@Karfilms/layout.html.twig' %}

{% block estadoedad %} active {% endblock%}

{% block body %}
    <!--Vista de las edades para los usuarios-->
    <section class="col-lg-6">
        <h2>Clasificaciones por edades</h2>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>Nombre</th>
                <th>Acción</th>
            </tr>
            <!--Muestra las edades uno a uno-->
            {% for edad in edades %}
                <tr>
                    <td>{{ edad.clasificacion }}</td>
                    <td>
                        <!--Botón que activa la función para mostrar las películas
                        organizadas según la edad seleccionada, enviando por la url
                        el nombre de la clasificación hacia el controlador-->
                        <a href="{{ path("categoria_edad", {"clasificacion":edad.clasificacion}) }}" class="btn btn-primary">Ver</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
    <div class="clearfix"></div>
{% endblock %}