nav {
    background-color: #303030;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

.navbar-toggler{
    background-color: #919aa8;
}

.navbar-toggler-icon{
    color: #ffffff;
}

a span#kar{
    color: rgb(186,10,10);
}

a.active{
    color: #ba0a0a;
}

nav a, #usuario, #admin-dropdown {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover{
    color: #919aa8;
}

a:hover, .breadcrumb a:hover{
    color: rgb(40,40,40);
}

a, .breadcrumb a {
    color: rgb(186,10,10);
}

#logo {
    color: #919aa8;
}

.dropdown-menu {
    background-color: #cccccc;
}

body {
    background-color: rgb(213,213,213);
    margin: 0;
    padding: 0;
    height: 100%;
}

h1,h2,h3,h4,h5{
    color: rgb(186,10,10);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgb(152,0,0) !important;
    border-color: rgb(152,0,0) !important;
    box-shadow: 0px 1px 1px rgb(152,0,0) inset, 0px 0px 8px rgb(152,0,0) !important;;
}

.btn-primary {
    background-color: rgb(186,10,10);
    border-color: rgb(186,10,10);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background-color: rgb(34,172,238) !important;
    border-color: rgb(34,172,238) !important;
    box-shadow: 0px 1px 1px rgb(34,172,238) inset, 0px 0px 8px rgb(34,172,238) !important;
}

.btn-warning {
    background-color: rgb(16,150,212);
    border-color: rgb(16,150,212);
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    color: rgb(0,0,0);
    background-color: rgb(224,168,0) !important;
    border-color: rgb(224,168,0) !important;
    box-shadow: 0px 1px 1px rgb(224,168,0) inset, 0px 0px 8px rgb(224,168,0) !important;
}

.btn-danger {
    color: rgb(0,0,0);
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
}

.btn-success:hover, .btn-success:focus{
    box-shadow: 0px 1px 1px rgb(36,136,56) inset, 0px 0px 8px rgb(36,136,56) !important;
}

.btn-secondary:hover, .btn-secondary:focus{
    box-shadow: 0px 1px 1px rgb(90,98,104) inset, 0px 0px 8px rgb(90,98,104) !important;
}

.disabled{
    color: rgb(0,0,0) !important;
    background-color: rgb(245,202,140) !important;
    border-color: rgb(245,202,140) !important;
}

.table {
    background-color: white !important;
    border-radius: 15px;
}

.datospeli{
    background-color: rgb(40,40,40);
    color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px
}

.datospeli a, .horas{
    color: rgb(213,213,213);
}

.datospeli a:hover, .horas:hover{
    color: white;
}

.horas{
    background-color: rgb(40,40,40);
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px
}

section {
    margin-top: 2em;
}

.page-link {
    color: #ba0a0a !important;
}

.active span{
    color: #919aa8 !important;
    background-color: #303030 !important;
    border-color: #303030 !important;
}

.disabled span{
    color: #919aa8 !important;
}

.page-item {
    color: black; 
}

.contenedor{
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 100px;
}

footer {
    padding: 1%;
    color: white;
    background-color: rgb(41,41,41);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#minombre {
    margin-left: 44em;
}

.dropdown-item:active, .dropdown-item:hover{
    color: white;
    background-color: rgb(82,82,82);
}