nav {
    background-color: #303030;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
}

.navbar-toggler{
    background-color: #919aa8;
}

.navbar-toggler-icon{
    color: #ffffff;
}

a span#kar{
    color: rgb(186,10,10);
}

nav a, #usuario, #admin-dropdown {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover{
    color: #919aa8;
}

a:hover, .breadcrumb a:hover{
    color: rgb(40,40,40);
}

a, .breadcrumb a {
    color: rgb(186,10,10);
}

#logo {
    color: #919aa8;
}

.dropdown-menu {
    background-color: #cccccc;
}

body {
    background-color: rgb(213,213,213);
}

h1,h2,h3,h4,h5{
    color: rgb(186,10,10);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: rgb(152,0,0) !important;
    border-color: rgb(152,0,0) !important;
}

.btn-primary {
    background-color: rgb(186,10,10);
    border-color: rgb(186,10,10);
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus {
    background-color: rgb(34,172,238) !important;
    border-color: rgb(34,172,238) !important;
}

.btn-warning {
    background-color: rgb(16,150,212);
    border-color: rgb(16,150,212);
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    color: rgb(0,0,0);
    background-color: rgb(224,168,0) !important;
    border-color: rgb(224,168,0) !important;
}

.btn-danger {
    color: rgb(0,0,0);
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
}

.table {
    background-color: white !important;
    border-radius: 15px
}

.datospeli{
    background-color: rgb(40,40,40);
    color: white;
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px
}

.datospeli a, .horas{
    color: rgb(213,213,213);
}

.datospeli a:hover, .horas:hover{
    color: white;
}

.horas{
    background-color: rgb(40,40,40);
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px
}

section {
    margin-top: 2em;
}

.page-link {
    color: #ba0a0a !important;
}

.active span{
    color: #919aa8 !important;
    background-color: #303030 !important;
    border-color: #303030 !important;
}

.disabled span{
    color: #919aa8 !important;
}

.page-item {
    color: black; 
}