{% extends '@Karfilms/layout.html.twig' %}

{% block body %}
    <!--Vista para añadir actores-->
    <section class="col-lg-6">
        <h2>Nuevo actor</h2>
        <hr>
        <!--Creación del formulario que se envía desde el controlador-->
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_end(form) }}
    </section>
    <div class="clearfix"></div>
    <!--Botón que lleva a la vista de todos los actores-->
    <a href="{{ path("indice_actor") }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}